body{
  overflow-x:hidden;
  padding: 0;
  font-family:'Montserrat', sans-serif;
  color: white;
  letter-spacing: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #280a3c;
}
.about{
  width: 100vw;
  height: 100vh;
  /* position: fixed; */
  overflow-y: hidden;
  overflow-x: hidden;
}
.section{
  width: 100vw;
  min-height: 100vh;
}
.centerdiv{
  margin:0 auto;
  text-align: center;
  display: block;
}
.absoluteCenter{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
h1, h2{
  background-image: linear-gradient(to left,#ff0048, #950740);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 4em;
  margin-top:0;
  display: block;
}
h2{
  font-size: 3em;
  font-style: normal;
}
h3{
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

h5{
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  margin-top: 20px;
  text-transform: uppercase;
  color: #c3073f;
}
a{
  color: #c3073f;
  font-weight: 900;
}
a:hover{
  color: #c3073f;
}
.vertical-center{
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.replace{
  height: 80vh;
  overflow: auto;
}
table{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}
th,td{
  padding: 20px;
  text-align: left;
}
tr{
  border-bottom: 1px solid white;
}
tr:last-child{
  border-bottom: none!important;
}
img{
  width: 50px;
}
